<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @subscription.user_id %>
</p>

<p>
  <strong>Plan:</strong>
  <%= @subscription.plan_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @subscription.price %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
