<!DOCTYPE html>
<html>
<head>
  <title>BddDemo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<!-- Wrap all page content here -->
<div id="wrap">

  <!-- Fixed navbar -->
  <%= render "layouts/navigation" %>

  <!-- Begin page content -->
  <div class="container">
    <%= render "layouts/messages" %>
    <%= yield %>
  </div>

</div>


<%= render "layouts/footer" %>

</body>
</html>
